<div style='' class='tab-pane fade show active' id='pills-scientific-sessions' role='tabpanel' aria-labelledby='pills-scientific-sessions-tab'>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div class='row'>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
        <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
            class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
            <p>Session Name</p>
        </div>
    </div>
    <div style='' class='tab-pane fade' id='pills-why-to-attend' role='tabpanel' aria-labelledby='pills-why-to-attend-tab'></div>
    <div style='' class='tab-pane fade' id='pills-special-features' role='tabpanel' aria-labelledby='pills-special-features'>
        <div class='row'>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature One</p>
            </div>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature Two</p>
            </div>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature Three</p>
            </div>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature Four</p>
            </div>
        </div>
        <div class='row'>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature Five</p>
            </div>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature Five</p>
            </div>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature One</p>
            </div>
            <div style='margin-top: 7px; margin-bottom: 7px; margin-right: 7px; margin-left: 7px; padding: 5px 5px 5px 5px; background-color:#FEFFE6 !important;  border-left: 6px solid #B6F5F8;'
                class='col-xs-12 col-sm-6 col-md-6 col-lg-3'>
                <p>Feature Three</p>
            </div>
        </div>
    </div>
    <div style='' class='tab-pane fade show active' id='pills-target-audience' role='tabpanel' aria-labelledby='pills-target-audience-tab'></div>\n